div.page-header {
	color: white;
	background: black;
	text-align: center;
	padding: 10px;
	margin: 0px;
}

h1 {
	padding: 0px;
	margin: 0px;	
}

h2 {
	margin: 2px;
	font-weight: bold;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/bgnoise.png");
}

.center {
	text-align: center;
}

.navbar-default {
	background-color: black;	
	color: white;
	width: 100%;
	margin-bottom: 0px;
}

.col-md-12 {
	margin: 0px;
	padding: 0px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

thead {
	background-color: black;
	color: white;
}

.borda {
	border: 1px solid;
}